.contact-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    /* margin-top: 50px; */
  }
.contact-icon {
    padding-right:5px;
    font-size: 18px;

}
  
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.contact-form input[type="submit"] {
  background-color: rgba(0, 0, 255, 0.692);
  color: #fff;
  cursor: pointer;
}

.contact-form input[type="submit"]:hover {
  background-color: purple;
}

.contact-form label {
    display:block;
    margin-bottom: 5px;
}

/* .contact-info {
    display: flex;
} */

.additional-links {
    text-align: center;
}


.contact-info {
    text-align: center;
    margin-top: 50px;
}

.contact-form-edit {
    margin-bottom:  20vh;
}