/* styles.css */

.navbar {
  padding: 5px;
  height: 60px;
  background-color: black;
}

.navbar a {
  color: white;
}

.navbar ul li {
  display: inline-flex;
  font-family: helvetica;
  margin-right: 20px;
  margin-top: 15px;
  line-height: 2;
}

.navbar ul li a {
  text-decoration: none;
  
}

@keyframes moveContact {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px); 
  }
}

.animated-header {
  display: inline-block;
  animation: moveContact 2.5s infinite; 
}
