/* styles.css */

.navbar {
  padding: 5px;
  height: 60px;
  background-color: black;
}

.navbar a {
  color: white;
}

.navbar ul li {
  display: inline-flex;
  font-family: helvetica;
  margin-right: 20px;
  margin-top: 15px;
  line-height: 2;
}

.navbar ul li a {
  text-decoration: none;
  
}
