.typewriter {
    background-color:rgba(0, 0, 0, 0.075);
  margin-top: 40px;
    font-size:90px;
    color:rgba(0, 0, 0, 0.603);
    
}
.app-container {
    position: relative;
  max-width: 1200px; /* Adjust the max-width as needed */
  margin: 0 auto; /* Center the content */
}

.text-effect {
  display:flex;
  margin-right: 60px;
  margin-top: 30px;
  margin-left: 5px;
 
}

.custom-card-description {

text-align: center;
padding-left:40px;
}

.custom-card-button {
background-color: rgba(0, 0, 0, 0.075);
  width:100%;
  margin-left: 20px;
  margin-top: 10px;
  text-align: center;
  color: rgba(0, 0, 0, 0.603);
  border: 2px solid rgba(0, 0, 0, 0.432);
  

}

/* .custom-card-img {
    
} */


