.typewriter {
    background-color:rgba(0, 0, 0, 0.075);
  margin-top: 40px;
    font-size:100px;
    color:rgba(0, 0, 0, 0.603);
    
}

.text-effect {
  display:flex;
  margin-right: 60px;
  margin-top: 30px;
  margin-left: 5px;
 
}



/* .profile {
position: fixed;
  right: 300px;
  margin-left: 50px;
   
} */

